# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\practies\IntelliJIDEA\travelsalemanproblem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
